.page {
    width: 100%;
    min-height: 100vh;
    background-color: var(--color-surface-bright);
    padding-bottom: 2rem;
}
.card_grid {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}